.wrapper{
    background: url(../../../src/assets/HeaderBagckround.png);
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    font-family: 'Compact', sans-serif;
}